<a href="https://colab.research.google.com/github/tskiranmayee/DataTrailBlazer.github.io/blob/gh-pages/PySparkProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=51a396f3655d94e7bfd53c1eccb979846181e30c77f079c2fe3ccae296595bb9
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [7]:
!pip install findspark

import findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (1.4.2)

In [8]:
from pyspark import SparkContext
from pyspark import SparkConf

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [30]:
from google.colab import files
files.upload()

Saving sales_info.csv to sales_info.csv

{'sales_info.csv': b'Company,Person,Sales\r\nGOOG,Sam,200\r\nGOOG,Charlie,120\r\nGOOG,Frank,340\r\nMSFT,Tina,600\r\nMSFT,Amy,124\r\nMSFT,Vanessa,243\r\nFB,Carl,870\r\nFB,Sarah,350\r\nAPPL,John,250\r\nAPPL,Linda,130\r\nAPPL,Mike,750\r\nAPPL, Chris,350\r\n'}

In [35]:
salesDF = spark.read.csv('sales_info.csv',header=True)
salesDF.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: string (nullable = true)

In [36]:
salesDF.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
+-------+-------+-----+

In [38]:
salesDF.columns

['Company', 'Person', 'Sales']

In [40]:
salesDF.describe().show()

+-------+-------+-------+------------------+
|summary|Company| Person|             Sales|
+-------+-------+-------+------------------+
|  count|     12|     12|                12|
|   mean|   null|   null| 360.5833333333333|
| stddev|   null|   null|250.08742410799007|
|    min|   APPL|  Chris|               120|
|    max|   MSFT|Vanessa|               870|
+-------+-------+-------+------------------+

In [41]:
from pyspark.sql.types import StructField,StructType,StructField,StructType

In [46]:
salesDF['Company']

Column<'Company'>

In [47]:
salesDF.select(['Company','Person']).show()

+-------+-------+
|Company| Person|
+-------+-------+
|   GOOG|    Sam|
|   GOOG|Charlie|
|   GOOG|  Frank|
|   MSFT|   Tina|
|   MSFT|    Amy|
|   MSFT|Vanessa|
|     FB|   Carl|
|     FB|  Sarah|
|   APPL|   John|
|   APPL|  Linda|
|   APPL|   Mike|
|   APPL|  Chris|
+-------+-------+

In [54]:
salesDF.createOrReplaceTempView('salesDF')

In [55]:
new_res=spark.sql("SELECT * from salesDF")

In [56]:
new_res.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
+-------+-------+-----+

In [57]:
n=spark.sql("SELECT * from salesDF where Sales=200")

In [58]:
n.show()

+-------+------+-----+
|Company|Person|Sales|
+-------+------+-----+
|   GOOG|   Sam|  200|
+-------+------+-----+